@import "tailwindcss";

:root {
  --white: #f5f5f5;
  --black: #0a0a0b;
  --grey: #aaaaaa;
  --wine-red: #5a0f1b;
  --red: #dc2626;
  --accent: #ffd700;
  --grey2: #d9d9d9;
  --white2: rgba(245, 245, 245, .7);
  --whiteHover: rgba(245, 245, 245, .7);
  --accentHover: rgba(255, 215, 0, .7);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

* {
  font-family: "Nunito Sans";
  padding: none;
  margin: none;
  box-sizing: border-box;
  text-decoration: none;
}

.imgBanner1{
  background: url(./assets/img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imgBanner2{
  background: url(./assets/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imgBanner3{
  background: url(./assets/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

a.active {
  color: var(--accent);
}

.Card {
  background: url("./assets/img.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.Card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 32px;
}
.Card:hover::before {
  opacity: 1;
}
.Card2 {
  background: url("./assets/img14.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.Card2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 32px;
}
.Card2:hover::before {
  opacity: 1;
}
.Card3 {
  background: url("./assets/pic3.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.Card3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 32px;
}
.Card3:hover::before {
  opacity: 1;
}

.is1 {
  background: url("./assets/image.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.is2 {
  background: url("./assets/image.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.is1::before,
.is2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.25));
  opacity: 1;
  transition: opacity 0.3s ease;
  border-radius: 16px;
}

.tape1 {
  transform: translate(-50%, -40%);
}
.tape2 {
  transform: translate(50%, 40%);
}

  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-gradient {
  animation: gradient 12s ease infinite;
  
}

.Scroll {
}



.int:hover{
  fill: var(--white);
}

.imgCard{
  position: relative;
}
.imgCard::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0 ), rgba(0, 0, 0, 0.4));
  opacity: 1;
  border-radius: 28px;
  z-index: 2;

}

.imgCard::before:hover{
  background: rgba(0, 0, 0, 0.4);
  transition: .3s ease all;
  z-index:2;

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .heroText {
    top: 30%;
    left: 0;
  }
  .Card::before {
    border-radius: 16px;
  }

  .tape1 {
    display: none;
  }
  .tape2 {
    display: none;
  }
  .sw {
    width: 200px;
  }
  .sw1 {
    display: none;
  }
  .sw2 {
    display: none;
  }
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }
  .radii{
  }
}

@media (max-width: 768px) {
  .responsive-text {
    font-size: 14px;
  }
}
